.main {
    -base-color:  #3D97F3;
}
.mx-button {
    -fx-text-fill: -base-color;
    -fx-start-margin: 10px;
    -fx-border-width: 1px;
    -fx-border-color: #dcdfe6;
    -fx-border-style: solid;
    -fx-background-color: #ecf5ff;
    -fx-cursor: pointer;
    -fx-text-alignment: center;
    -fx-font-size: 14px;
    -fx-padding: 4px 8px;
    -fx-border-radius: 4px;
}

.mx-button:hover {
    -fx-text-fill: #ffffff;
    -fx-background-color: -base-color;
    -fx-border-color: -base-color;
}
.mx-button-danger {
    -fx-text-fill: #F56C6C;
    -fx-start-margin: 10px;
    -fx-border-width: 1px;
    -fx-border-color: #FBC4C4;
    -fx-border-style: solid;
    -fx-background-color: #FEF0F0;
    -fx-cursor: pointer;
    -fx-text-alignment: center;
    -fx-font-size: 14px;
    -fx-padding: 4px 8px;
    -fx-border-radius: 4px;
}

.mx-button-danger:hover {
    -fx-text-fill: #ffffff;
    -fx-background-color: #F56C6C;
    -fx-border-color: #F56C6C;
}
.slider .track{
    /*-fx-background-color: -base-color;*/
}
.slider .axis{
    -fx-background-color: -base-color;
}
.slider .thumb{
    -fx-background-color: -base-color;
}
/**顶部*/
.main-top {
    -fx-background-color: -base-color;
}
.main-top .logo {
    -fx-text-fill: WHITE;
}
.icon-btn {
    -fx-background-color: #FFF0;
}
.icon-btn Region{
    -fx-pref-width: 23;
    -fx-pref-height: 23;
    -fx-background-color: -base-color;
}
.main-top .icon-btn:hover {
    -fx-background-color: #0003;
}
.main-top .min-btn Region{
    -fx-shape: "M512 1024C229.233 1024 0 794.767 0 512S229.233 0 512 0s512 229.233 512 512-229.233 512-512 512zM256 534.18a42.598 42.598 0 0 0 42.762 42.68h426.476A42.721 42.721 0 0 0 768 534.18a42.598 42.598 0 0 0-42.762-42.66H298.762A42.721 42.721 0 0 0 256 534.18z";
    -fx-background-color: WHITE;
}
.main-top .close-btn Region{
    -fx-shape: "M512.001 15.678C237.414 15.678 14.82 238.273 14.82 512.86S237.414 1010.04 512 1010.04s497.18-222.593 497.18-497.18S786.589 15.678 512.002 15.678z m213.211 645.937c17.798 17.803 17.798 46.657 0 64.456-17.798 17.797-46.658 17.797-64.456 0L512.001 577.315 363.241 726.07c-17.799 17.797-46.652 17.797-64.45 0-17.804-17.799-17.804-46.653 0-64.456L447.545 512.86 298.79 364.104c-17.803-17.798-17.803-46.657 0-64.455 17.799-17.798 46.652-17.798 64.45 0l148.761 148.755 148.755-148.755c17.798-17.798 46.658-17.798 64.456 0 17.798 17.798 17.798 46.657 0 64.455L576.456 512.86l148.756 148.755z m0 0";
    -fx-background-color: WHITE;
}
.main-top .progress-bar .bar {
    -fx-background-color: WHITE;
}
.main-top .progress-bar {
    -fx-background-color: RED;
}
/**侧边栏 */
.menu {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #0002;
}
.menu .menu-btn {
    -fx-background-color: #FFF0;
    -fx-font-size: 15;
    -fx-text-fill: -base-color;
    -fx-padding: 6 15 6 15;
}
.menu .menu-btn Region {
    -fx-background-color: -base-color;
}
.menu .log-btn Region {
    -fx-shape: "M512 0C230.4 0 0 230.4 0 512s230.4 512 512 512 512-230.4 512-512-230.4-512-512-512z m215.04 727.04L460.8 563.2V256h76.8v266.24l230.4 138.24-40.96 66.56z";
}
.menu .list-btn Region {
    -fx-shape: "M963.584 111.616H60.416C31.744 111.616 8.192 135.168 8.192 163.84v110.592c0 28.672 23.552 52.224 52.224 52.224H962.56c28.672 0 52.224-23.552 52.224-52.224V163.84c1.024-28.672-22.528-52.224-51.2-52.224zM156.672 279.552c-33.792 0-60.416-26.624-60.416-60.416 0-33.792 26.624-60.416 60.416-60.416 33.792 0 60.416 26.624 60.416 60.416 0 33.792-26.624 60.416-60.416 60.416z m637.952-15.36c0 7.168-6.144 13.312-13.312 13.312s-13.312-6.144-13.312-13.312V174.08c0-7.168 6.144-12.288 13.312-12.288s13.312 6.144 13.312 12.288v90.112z m97.28 0c0 7.168-6.144 13.312-13.312 13.312s-13.312-6.144-13.312-13.312V174.08c0-7.168 6.144-12.288 13.312-12.288s13.312 6.144 13.312 12.288v90.112zM963.584 404.48H60.416c-28.672 0-52.224 23.552-52.224 52.224v110.592c0 28.672 23.552 52.224 52.224 52.224H962.56c28.672 0 52.224-23.552 52.224-52.224V456.704c1.024-28.672-22.528-52.224-51.2-52.224zM156.672 572.416c-33.792 0-60.416-26.624-60.416-60.416 0-33.792 26.624-60.416 60.416-60.416 33.792 0 60.416 26.624 60.416 60.416 0 33.792-26.624 60.416-60.416 60.416z m637.952-15.36c0 7.168-6.144 13.312-13.312 13.312s-13.312-6.144-13.312-13.312v-90.112c0-7.168 6.144-13.312 13.312-13.312s13.312 6.144 13.312 13.312v90.112z m97.28 0c0 7.168-6.144 13.312-13.312 13.312s-13.312-6.144-13.312-13.312v-90.112c0-7.168 6.144-13.312 13.312-13.312s13.312 6.144 13.312 13.312v90.112zM963.584 697.344H60.416c-28.672 0-52.224 23.552-52.224 52.224V860.16c0 28.672 23.552 52.224 52.224 52.224H962.56c28.672 0 52.224-23.552 52.224-52.224V749.568c1.024-28.672-22.528-52.224-51.2-52.224zM156.672 865.28c-33.792 0-60.416-26.624-60.416-60.416 0-33.792 26.624-60.416 60.416-60.416 33.792 0 60.416 26.624 60.416 60.416 0 33.792-26.624 60.416-60.416 60.416zM794.624 849.92c0 7.168-6.144 13.312-13.312 13.312S768 857.088 768 849.92v-90.112c0-7.168 6.144-13.312 13.312-13.312s13.312 6.144 13.312 13.312V849.92z m97.28 0c0 7.168-6.144 13.312-13.312 13.312s-13.312-6.144-13.312-13.312v-90.112c0-7.168 6.144-13.312 13.312-13.312s13.312 6.144 13.312 13.312V849.92z";
}
.menu .core-btn Region {
    -fx-shape: "M274.817 746.747c-10-5.8-21.4-8.8-32.9-8.8-11.1 0.2-22 2.4-32.3 6.6-27.8 11.7-49.9 33.9-61.4 61.7-17.9 40-31.6 81.7-40.6 124.6-1.1 4.4 0 5.6 2.4 5.6 1.3-0.1 2.6-0.2 3.8-0.5 23.9-4.7 47.4-10.7 70.6-18.1 28-8 54.4-20.4 78.4-36.8 24.8-17.3 40.5-44.9 42.7-75.1 2.1-24.1-9.9-47.1-30.7-59.2z m684.7-559.1c-0.7-34.8-5.6-69.3-14.6-102.9-0.5-2.8-2.7-5-5.5-5.5-38.5-10.3-78.2-15.4-118-15.3-8.6 0-17.3 0.2-25.9 0.6-28.5 1.5-56.8 5.2-84.7 11.2-75.5 16.7-147.2 47.3-211.5 90.2-62.1 41.3-118.2 91-166.6 147.7-1.6 2-4 3.2-6.6 3.2h-6.5c-11.1 0-22.2 0.6-33.3 1.7-38.6 3.8-76 14.9-110.3 32.9-41.3 22.8-78.8 52-111.1 86.5-2.5 2.5-0.8 3.3 1.1 4.7l30.3 20.3c50.7 34 101.5 68.1 152.2 102.2 2.2 1.6 4.4 2.4 2.5 6.3-11.1 22.2-13.9 47.6-7.9 71.7 13 62.5 59.3 112.8 120.6 130.8 12.6 4.4 25.9 6.7 39.2 6.8 15.4 0 30.7-3.3 44.7-9.8 0.9-0.5 2-0.8 3-0.8 1.5 0 2.5 0.9 3.7 2.7 17.8 26.9 35.7 53.7 53.6 80.6l68.8 103.5c1 1.6 1.7 2.9 2.9 2.9s1.6-0.5 2.8-1.8c6-6.5 12.4-12.5 18.8-18.8 27.6-27.6 51.1-59 69.9-93.2 24.2-46.1 36-97.6 34.3-149.7-0.3-3 0.9-6 3.3-7.9 28.9-25 56.2-51.8 81.6-80.3 48.8-54 89-115.2 119.2-181.5 32.4-70.8 49.7-147.5 50.8-225.3-0.4-4.7-0.7-9.1-0.8-13.7z m-330 255.7c-40.9-0.2-73.9-33.4-73.8-74.3 0.4-40.7 33.4-73.5 74-73.7 40.8 0.2 73.8 33.3 73.8 74.1-0.1 40.8-33.2 73.8-74 73.9z";
}
.menu .setting-btn Region {
    -fx-shape: "M510.816035 418.247756c-51.616588 0-93.612051 41.995463-93.612051 93.616144 0 51.616588 41.995463 93.612051 93.612051 93.612051 51.620681 0 93.612051-41.995463 93.612051-93.612051 0-51.620681-41.992393-93.616144-93.612051-93.616144zM512 65.290005c-246.708891 0-446.708971 200.00008-446.708971 446.708972S265.291109 958.707948 512 958.707948c246.712985 0 446.708971-200.00008 446.708971-446.708971S758.712985 65.290005 512 65.290005z m264.664845 499.911684c-2.928702 15.459087-12.175297 25.352411-23.459294 25.119098h-2.348488c-38.762839 0-70.292949 31.534204-70.292949 70.292949 0 12.771885 6.064113 26.773783 6.126534 26.913976 5.970992 13.44522 1.358951 29.971615-10.746762 38.408775l-0.677429 0.471744-68.731384 37.988196-0.720407 0.311085c-3.930519 1.694595-8.230452 2.555196-12.775978 2.555196h-0.004093c-9.834996 0-19.389606-4.070712-25.566283-10.878768-8.413624-9.223059-35.062564-33.208333-56.878428-33.208333-21.667485 0-48.729841 24.121374-56.504922 32.573883-6.16235 6.695492-15.653515 10.691503-25.391296 10.691503-4.638647 0-9.017374-0.88823-13.013385-2.644223l-0.700965-0.308015-66.312288-37.080524-0.657986-0.463557c-12.07092-8.448416-16.666588-24.978904-10.68434-38.447661 0.042979-0.101307 6.115278-14.107299 6.115278-26.879184 0-38.758746-31.534204-70.297043-70.29295-70.297042h-2.348487c-0.144286 0.004093-0.284479 0.008186-0.428766 0.008186-11.104919 0-20.140713-9.862625-23.031552-25.12626-0.230244-1.218758-5.659907-30.17423-5.659907-52.987819 0-22.809495 5.425569-51.764967 5.659907-52.983725 2.925632-15.459087 12.159948-25.391297 23.455201-25.12319h2.352581c38.758746 0 70.292949-31.534204 70.292949-70.29295 0-12.767791-6.068206-26.773783-6.130627-26.910906-5.970992-13.4575-1.347694-29.983895 10.773368-38.408775l0.685615-0.478907 69.984934-38.439474 0.728594-0.308015c3.941775-1.682315 8.257058-2.53166 12.830213-2.53166 9.718339 0 19.22997 3.911076 25.445532 10.462283 8.280594 8.670473 34.462906 31.226189 55.655578 31.226188 20.990057 0 47.012733-22.107507 55.269791-30.630624 6.181793-6.4192 15.622816-10.259668 25.24701-10.259668 4.662183 0 9.05933 0.884137 13.063527 2.62171l0.709151 0.308016 67.593468 37.555337 0.666172 0.467651c12.093433 8.436136 16.70138 24.966625 10.715039 38.443567-0.047072 0.105401-6.115278 14.111392-6.115277 26.883277 0 38.758746 31.530111 70.292949 70.292949 70.29295h2.348488c11.283997-0.249687 20.534685 9.66308 23.459294 25.119097 0.230244 1.222851 5.655813 30.17423 5.655814 52.987818s-5.4225 51.763944-5.652744 52.986795z";
}
.menu .about-btn Region {
    -fx-shape: "M511.999 960.265c-247.566 0-448.263-200.698-448.263-448.266S264.433 63.735 511.999 63.735c247.567 0 448.265 200.696 448.265 448.264S759.566 960.265 511.999 960.265z m0-699.725c-30.213 0-54.652 24.483-54.652 54.653 0 30.214 24.439 54.693 54.652 54.693 30.214 0 54.655-24.479 54.655-54.693 0-30.17-24.441-54.653-54.655-54.653z m54.655 218.653c0-24.149-19.588-43.73-43.691-43.73h-21.886c-24.145 0-43.73 19.581-43.73 43.73v262.378c0 24.188 19.586 43.771 43.73 43.771h21.886c24.104 0 43.691-19.583 43.691-43.771V479.193z";
}
.menu .menu-btn:hover {
    -fx-background-color: #0003;
}
.menu .menu-btn:selected {
    -fx-background-color: -base-color;
    -fx-text-fill: WHITE;
}
.menu .menu-btn:selected Region {
    -fx-background-color: WHITE;
}

/**核心*/
.core-btn-content .core-btn{
    -fx-text-fill: -base-color;
}
.core-btn-content .core-btn Region{
    -fx-shape: "M1024 512C1024 229.234759 794.765241 0 512 0S0 229.234759 0 512s229.234759 512 512 512 512-229.234759 512-512zM70.62069 512C70.62069 268.235034 268.235034 70.62069 512 70.62069s441.37931 197.614345 441.37931 441.37931-197.614345 441.37931-441.37931 441.37931S70.62069 755.764966 70.62069 512z";
}
.core-btn-content .core-btn:selected Region{
    -fx-shape: "M511.9 64.2C264.5 64.2 64 264.8 64 512.1S264.5 960 511.9 960s447.9-200.5 447.9-447.9S759.2 64.2 511.9 64.2z m0 615.9c-92.7 0-168-75.2-168-168s75.2-168 168-168 168 75.2 168 168-75.3 168-168 168z m0 0";
}
.core-info .button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.core-info:hover {
    -fx-background-color: "#ECF5FF";
}

/**对话框*/
.mx-dialog {
    -fx-background-color: WHITE;
}
.mx-dialog .progress-bar > .bar {
    -fx-background-color: -base-color;
    -fx-background-insets: 3 3 4 3;
    -fx-background-radius: 2;
}
.mx-dialog .progress-bar:indeterminate > .bar {
    -fx-background-color: linear-gradient(to left, transparent, -fx-accent);
}
/*背景*/
.mx-dialog .progress-bar > .track {
    -fx-background-color:#EBEEF5;
}

/**服务器列表*/
.men-list {
    -fx-background-color: WHITE;
}
.list-info .label{
    -fx-text-fill: -base-color;
    -fx-font-size: 14;
}

.list-info .label:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.list-info:hover {
    -fx-background-color: #ECF5FF;
}
.list-cell:empty {
    -fx-background-color: white;
}
.list-cell:selected:odd {
    -fx-background-color: #F9F9F9;
}
.list-cell:selected:even {
    -fx-background-color: WHITE;
}
.list-view, .split-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

/**关于*/
.menu-about .name-label{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #FFF0;
    -fx-text-fill: -base-color;
}
.menu-about .name-label:hover {
    -fx-border-color: -base-color;
    -fx-border-style: dashed;
}

/**显示消息的对话框*/
.dialog-message {
    -fx-background-color: WHITE;
    -fx-font-size: 14;
}

/**设置界面*/
.menu-setting .text-field{
    -fx-pref-width: 500;
    -fx-border-color: #343D4A;
    -fx-background-color: #FFF0;
    -fx-border-radius: 5;
}
.menu-setting .text-field:focused{
    -fx-pref-width: 500;
    -fx-border-width: 2;
    -fx-border-color: -base-color;
}
.menu-setting {
    -fx-background-color: #C6D5ED;
}

.menu-setting .setting-card {
    -fx-background-color: #FFF;
    -fx-effect: dropshadow(gaussian, #0005, 10, 0.2, 0, 0);
    -fx-background-radius: 5;
}
.menu-setting .setting-card .setting-title {
    -fx-font-weight: bold;
    -fx-font-size: 13;
    -fx-padding: 5 5 5 0;
}
.menu-setting .setting-card:hover .setting-title {
    -fx-text-fill: -base-color;
}
.menu-setting .setting-card:hover {
    -fx-effect: dropshadow(gaussian, -base-color, 10, 0.3, 0, 0);
}
.menu-setting .icon-btn Region {
    -fx-shape: "M950.857143 512A438.857143 438.857143 0 1 0 73.142857 512a438.857143 438.857143 0 0 0 877.714286 0zM0 512a512 512 0 1 1 1024 0A512 512 0 0 1 0 512z";
}
.menu-setting .icon-btn:selected Region {
    -fx-shape: "M512 0a512 512 0 1 1 0 1024A512 512 0 0 1 512 0z m0 64a448 448 0 1 0 0 896A448 448 0 0 0 512 64zM512 512m-288 0a288 288 0 1 0 576 0 288 288 0 1 0-576 0Z";
}